<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge Name</title>
    <link rel="stylesheet" href="../stylesheets/index.css">
    <script src="../src/index.js"></script>
</head>
<body>
    <div class="navbar">
        <div class="logo"><img src="../img/insignia.png" alt="Organisation insignia"></div>
        <div class="navbuttons">
            <div class="navbar-text about-us">About Us</div>
            <div class="navbar-text corporate-projects">Corporate Projects</div>
            <div class="navbar-text contact-us">Contact Us</div>
        </div>
    </div>
    <div class="slideshow">
        <div class="image landing-slides fade"><img src="../img/landing-1.png" alt=""></div>
        <div class="image landing-slides fade"><img src="../img/landing-2.png" alt=""></div>           
        <div class="image landing-slides fade"><img src="../img/landing-3.png" alt=""></div>
        <div class="image landing-slides fade"><img src="../img/landing-4.png" alt=""></div>
        <div class="slogan">Infinite Worlds,<br>Infinite <br>Possibilities</div>

        <div class="indicator" style="text-align:center;">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </div>
    <div style="color: white; text-align: center; font-weight: 400; font-size: 26;"><h1>What we do</h1></div>
    <!-- This section contains content related to the organisation's research expeditions -->
    <div class="expeditions">
        <div class="image expedition-img"><img src="../img/expeditions.png" alt=""></div>
        <div class="expedition-desc">We launch daring research expeditions into deep and wormhole space, pioneering the exploration of unknown realms. From uncovering new elements to testing cutting-edge technologies and developing advanced subsystems, our missions push the boundaries of scientific discovery in the cosmos, with the goal of furthering humanity’s progress</div>
    </div>
</body>
</html>