<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="width: 100%; height: 100%; position: relative; background: #3E3128">
        <div style="width: 100%; height: 117px; left: 0px; top: 0px; position: absolute">
          <div style="width: 100%; height: 117px; left: 0px; top: 0px; position: absolute; background: #E5E5E5"></div>
          <img style="width: 78px; height: 74px; left: 19px; top: 21px; position: absolute" src="https://via.placeholder.com/78x74" />
          <div style="left: 984px; top: 40px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Corporate Projects</div>
          <div style="left: 1230px; top: 40px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">Contact Us</div>
          <div style="width: 201px; height: 45px; left: 783px; top: 41px; position: absolute; text-align: center; color: black; font-size: 24px; font-family: Inter; font-weight: 400; word-wrap: break-word">About Us</div>
        </div>
        <img style="width: 100%; height: 726px; left: 0px; top: 115px; position: absolute" src="https://via.placeholder.com/1440x726" />
        <div style="width: 25px; height: 25px; left: 620px; top: 782px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
        <div style="width: 16px; height: 16px; left: 671px; top: 787px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
        <div style="width: 16px; height: 16px; left: 713px; top: 787px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
        <div style="width: 16px; height: 16px; left: 755px; top: 787px; position: absolute; background: #D9D9D9; border-radius: 9999px"></div>
        <div style="width: 837px; height: 363px; left: 95px; top: 255px; position: absolute; color: white; font-size: 72px; font-family: Inter; font-weight: 400; word-wrap: break-word">Infinite Worlds, <br/>Infinite<br/>Possibilities</div>
        <div style="width: 845px; height: 111px; left: 275px; top: 890px; position: absolute; text-align: center; color: white; font-size: 50px; font-family: Inter; font-weight: 400; word-wrap: break-word">What we do</div>
      </div>
</body>
</html>